<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="padding-y">
    <div><img class="company-logo" src="../assets/images/logo-social.png" alt="logo"></div>
    <div class="item-center box">
      <h2>МОТО АМЕРИТ ДООЕЛ-СКОПЈЕ</h2>
      <h4>ОПИС 1</h4>
      <p>Дејнсост 1</p>
    </div>
  </div>

  <hr/>

  <div fxLayout="row"  fxLayoutAlign="space-around center" class="padding-y">
    <div fxLayout="column" class="company-info">
      <div>Адреса: УЛ. 1056 БР.22 / МОМИН ПОТОК, СКОПЈЕ 1</div>
      <div>Жиро сметка: 1234567890123456 ХЛБ Банка АД-Скопје</div>
      <div>ДБ: МК1234567890987</div>
      <div>МБ: 2626384 </div>
      <br/>
      <div>Тел./Факс: 02/ 1234-333 / 02/ 2223-444</div>
      <div>Email: motoamerit@amerit.org.mk</div>
      <div>Интернет страна: www.amerit.org.mk</div>
    </div>
    <div class="item-center box client" fxLayout="column">
      <h2>Јасмина Здравковкса</h2>
      <b>Бул. Партизански одреди 105</b>
      <b>100 Скопје</b>
      <br/>
      <div fxLayout="row"  fxLayoutAlign="space-around center" >
        <div>Број</div>
        <div>ЕДБ</div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="padding-y general item-center">
    <table>
      <tr>
        <th>Дадум на промет:</th>
        <th>Место:</th>
        <th>Датум валута:</th>
      </tr>
      <tr>
        <td> 24-Jan-20</td>
        <td> Скопје</td>
        <td>24-Jan-20</td>
      </tr>
    </table>
  </div>

  <hr/>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="padding-y">
    <h1>Фактура бр.13</h1>
  </div>
  <div class="table-style invoice">
    <table>
      <tr class="item-center">
        <th>Бр.</th>
        <th>Шифра</th>
        <th>Опис</th>
        <th>Ед. Мер.</th>
        <th>Кол.</th>
        <th>Единечна</th>
        <th>Единечна со ДДВ</th>
        <th>Рабат %</th>
        <th>Вредност без ДДВ</th>
        <th>Данок %</th>
        <th>Пресметан ДДВ</th>
        <th>Вкупно</th>
      </tr>
      <tr class="item-right">
        <td>1</td>
        <td></td>
        <td>Единечно одобрување</td>
        <td>П</td>
        <td>1.000</td>
        <td>5339.00</td>
        <td>6300.00</td>
        <td></td>
        <td>5339.00</td>
        <td>18.00</td>
        <td>961.02</td>
        <td>6300.02</td>
      </tr>
    <tr class="item-right">
        <td>2</td>
        <td></td>
        <td>Биро</td>
        <td>П</td>
        <td>1.000</td>
        <td>250.00</td>
        <td>250.00</td>
        <td></td>
        <td>250.00</td>
        <td></td>
        <td></td>
        <td>250.00</td>
      </tr>
      <br>
      <tr class="item-right">
        <td></td>
        <td></td>
        <td>Вкупно</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5589.00</td>
        <td></td>
        <td>961.02</td>
        <td>6550.02</td>
      </tr>
      <tr class="item-right">
        <td></td>
        <td></td>
        <td>Вкупно за наплата</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>6550.00</td>
      </tr>

    </table>
  </div>
<br>
<div class="table-style tax-table">
  <table class="padding-y">
    <tr>
      <th>ДДВ %</th>
      <th>Основица</th>
      <th>Данок</th>
    </tr>
    <tr class="item-right">
      <td>0.00</td>
      <td>250.00</td>
      <td>0.00</td>
    </tr>
    <tr class="item-right">
      <td>5.00</td>
      <td>152.38</td>
      <td>961.02</td>
    </tr>
    <tr class="item-right">
      <td>18.00</td>
      <td>5339.00</td>
      <td>961.02</td>
    </tr>
  </table>
</div>
 <br/>

  <div class="padding-y padding-top">
    SK-656-SS/ Јасмина Здравковкса
    <br>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
       Consectetur laboriosam at optio ullam ipsa impedit sequi 
       adipisci expedita nobis temporibus cupiditate,
       in fugiat. Quod ipsam quis asperiores laborum, id harum.</p>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="padding-y item-center">
    <div>Примил <br><br> <input type="text" class="signature"/> </div>
    <div>Прегледал <br> <br> <input type="text" class="signature"/> </div>
    <div>Овластено лице за потпишување на фактури <br> <br> <input type="text" class="signature"/> </div>
  </div>

</div>