$padding-value: 9px;
$my-blue: rgb(124, 150, 226);
$tr-color:#f2f2f2;


table{
  -webkit-print-color-adjust:exact !important;
}

* {
  margin: 0; padding: 0;
}

body { 
  font: 14px/1.4 Georgia, serif; 
}

.container {
  width: 800px;
  margin: 0 auto; 
}

.item-center{
  text-align: center;
}

.company-logo {
    text-align: center;
    align-self: center;
}


.padding-y{
  padding-top: $padding-value;
  padding-bottom: $padding-value;
}

.company-info{
  color: gray;
  border-left: red solid 3px;
}

.table-style{
  th{
    background-color: $my-blue;
    color: white;
    width: 100px;
  }
  tr:nth-child(even)
  {
    background-color: $tr-color
  }
}
.invoice-table{
  table{
    width: 100%;
  }
  td:nth-child(1),td:nth-child(3), td:nth-child(4){
    text-align: center;
  }
  td:nth-child(3){
    width: 200px;
  }
  tr:last-child, tr:nth-last-child(2) { 
    td:nth-child(3){
      text-align: left;
    }
    font-weight: bold;
    background-color: white;
    outline: solid black 1px;
  }

}

.signature {
  border: 0;
  border-bottom: 1px solid #000;
}

.client{
  div{
    font-size: 20px;
  text-align: center;
  border-width: 3px;
  border-color: $my-blue;
  border-style: solid double;
  width: 450px;
  height: 137px;
  display: grid;
  justify-content: center;
  align-content: center;
  }
  
}

.general{
  table, th, td {
    border: 1px solid black;
  }
  
  table {
    width: 100%;
  }
  padding-left: 30px;
  padding-right: 30px;
}
.item-right{
  text-align: right;
}

.tax-table{
  table{
    width: calc(100% / 3);
  }
}

.company-name {
  div{
    border-width: 3px;
    border-color: $my-blue;
    border-style: solid double;
    text-align: center;
    width: 450px;
    height: 137px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-content: center;
  }    
}
.invoice{
  height: 430px;
}

