$padding-value: 10px;
$my-blue: rgb(124, 150, 226);
$tr-color:#f2f2f2;


table{
  -webkit-print-color-adjust:exact !important;
}

* {
  margin: 0; padding: 0;
}

body { 
  font: 14px/1.4 Georgia, serif; 
  margin: 5mm 25mm 5mm 25mm;

}

.container {
  align-content: center;
  width: 800px;
  margin: 0 auto;
  
}

.item-center{
  text-align: center;
}

.company-logo {
    text-align: center;
    align-self: center;
}


.padding-y{
  padding-top: $padding-value;
  padding-bottom: $padding-value;
}

.company-info{
  color: gray;
  border-left: red solid 3px;
}

.table-style{
  tbody th{
    background-color: $my-blue;
    color: white;
    width: 100px;
  }
  tbody tr:nth-child(even)
  {
    background-color: $tr-color
  }
}

.invoice-table{

  table{
    width: 100%; 
    border-collapse: collapse;
  }
  tbody{
    td:nth-child(1),td:nth-child(3), td:nth-child(4){
    text-align: center;
  }
  td:nth-child(3){
    width: 200px;
  }

  tr {
    td{
      border-bottom-style: none;
    }   
  }
}
tfoot{
tr td{
  border-color: black;
}

  tr:last-child, tr:nth-last-child(2) { 
    td:nth-child(3){
      text-align: left;
    }
    font-weight: bold;
    background-color: white;
  }

  tr:nth-last-child(2){

    td:nth-last-child(-n+10){
      border-bottom: solid black 1.5px !important;
    }
    
  }

} 




  /*
  tr:last-child, tr:nth-last-child(2) { 
    td:nth-child(3){
      text-align: left;
    }
    font-weight: bold;
    background-color: white;
  }

  tr:nth-last-child(2){
    td:nth-last-child(-n+10){
      border-bottom: solid black 1.5px;
    }
    
  }
*/
}

.signature {
  border: 0;
  border-bottom: 1px solid #000;
}

.box {
  text-align: center;
  border-width: 3px;
  border-color: $my-blue;
  border-style: solid;
  width: 450px;
  height: 137px;
  display: grid;
  justify-content: center;
  align-content: center;
}


.item-right{
  text-align: right;
}

.tax-table{
  table{
    width: calc(100% / 3);
  }
}

.company-name {
  div{
    margin: 0 auto;
  }    
}
.invoice{
  height: 500px;
}


